*{
  /* border: 1px solid black; */
}
div{
  /* border: 1px solid red; */
}
ul li {
  list-style-type: none;
}
h1,h2,h3,h4{
  color: #a0522d;
}
body{
  font-family: arial, sans-serif;
}
header{
  text-align: center;
  display: block;
  background-image: url(../image/fundo-perfil.jpg);
  background-size:  cover;
  background-repeat: no-repeat;
  border-radius: 5%;
}
header h1, header h2{
  color: #fff;
}

nav{
  padding: 5px;
  background-color: #a0522d;
  position: relative;
  display: inline-block;
  width:100%;
}

nav .collapse{
  display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

nav:hover .collapse{
  display: block;
}
nav .collapse a{
  display: block;
  color:#777;
}
a{
    font-weight: bold;
}

a:hover{
  color: #a0522d;
}

nav a{
  text-decoration: none;
  color: #fff;
  width:100%;
}


nav ul li ul li{
  list-style-type: disc;

}

#foto-perfil{
  margin: auto;
  border: 2px solid #aaa  ;
  border-radius: 50%;
  width:200px;

}
#cursos ul li ul{
  margin-bottom: 15px;
}
#contato{

}
#localidade{

}
.container-geral{
  margin:auto;
  width:400px;
}
.titulo-formacao{
  font-weight:bold;
}

.small{
  font-size: 10px;
}
